.company-title-wrapper {
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.company-title {
    margin-bottom: 0;
    font-size: 16px;
}

.accounts-role-col,
.accounts-name-col {
    width: 13%;
}

.accounts-date-col {
    width: 14%;
}

.project-name-col{
    width: 20%;
}

.project-search-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 11px;
    padding-bottom: 5px;
}

.project-open-button {
    padding: 0 0.75rem;;
}

.lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
}

.payments-activity-col {
    width: 20%;
}

.wizard-section-title {
    font-size: 1.3rem;
    //padding-left: 80px;
}

.unchecked-text {
    //padding-left: 80px;
}

.yandex-buttons-wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .yandex-buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

