.company-title-wrapper {
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.company-title {
    margin-bottom: 0;
    font-size: 16px;
}

.accounts-role-col {
    width: 13%;
}

.accounts-name-col {
    width: 20%;
}

.accounts-date-col {
    width: 14%;
}

.project-name-col{
    width: 20%;
}

.project-search-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 11px;
    padding-bottom: 5px;
}

.project-open-button {
    padding: 0 0.75rem;;
}

.payments-activity-col {
    width: 20%;
}

.payment-modal-action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.payment-modal-action-button {
    margin-bottom: 1.2rem;
}

@media (min-width: 992px) {
    .payment-modal-action-buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .payment-modal-action-button {
        width: 30%;
    }
}

.wizard-section-title {
    font-size: 1.3rem;
}

.yandex-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 992px) {
    .yandex-buttons-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
