.ad-settings-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    flex-wrap: wrap;
}

.ad-buttons-col {
    width: 7%;
}

.ad-id-col {
    width: 9%;
}

.ad-crm-col {
    width: 12%;
}

.ad-yandex-col {
    width: 14%;
}

.value-added-col {
    width: 5%;
}
