@font-face {
    font-family: "MalgunGothicRegular";
    src: url("/fonts/Malgun-Gothic29381.woff2") format("woff2"),
    url("/fonts/Malgun-Gothic29381.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "MalgunGothicRegular", "Helvetica", sans-serif;
    position: relative;
    color: $main-text-color;
}

html, body {
    height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.bg-grey {
    background-color: $header-bg;
    padding-right: 0.43rem;
}

.company-header {
    padding-left: 0;
}

@media (max-width: 693px) {
    .scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }
}

.dropdown-toggle::after {
    vertical-align: 0;
    border-top: 0.5em solid;
}

.login-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.fa-user-o {
    color: $header-icon-color;
    font-size: 23px;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    margin-top: 3.5rem;
    background-color: $header-bg;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 26px;
    z-index: 1032;
}

.sidenav-link .sidenav-icon {
    color: $header-icon-color;
}

.sidenav-link.active .sidenav-icon {
    color: $sidenav-button-active;
}

.sidenav-link:hover .sidenav-icon,
.sidenav-link:active .sidenav-icon,
.sidenav-link:focus .sidenav-icon {
    color: $sidenav-button-active;
}

.sidenav-link:disabled .sidenav-icon {
    color: $sidenav-button-disabled;
}

.fa-id-card-o {
    margin-right: 0.55rem;
}

.fa-sign-out,
.cog-link .fa-cog {
    margin-right: 0.9rem;
}

.page-wrapper {
    padding-right: 20px;
    padding-left: 80px;
    min-width: 1340px;
    font-size: 14px;
}

.offset-block {
    height: 60px;
}

.settings-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.date-range {
    background: $filter-button-bg;
    cursor: pointer;
    padding: 6px 12px 4px 12px;
    border: 1px solid $filter-button-border;
    width: 348px;
    border-radius: 0.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    margin-right: 1.2rem;
}

.date-range:hover {
    background-color: $filter-button-bg-hover;
    border-color: $filter-button-border-hover;
}

.index-buttons-wrapper .date-range {
    margin-bottom: 0.25rem;
}

.filter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0.7rem;
}

.search-form {
    padding-left: 0;
    padding-right: 0;
    width: 16%;
}

.button-search {
    font-size: 14px;
}

.search-form-input {
    font-size: 14px;
}

.sorting::before,
.sorting::after {
    visibility: hidden;
}

.common-table {
    font-size: 14px;
    table-layout: fixed;
    font-weight: 400;
}

.common-table thead th {
    border-bottom: 2px solid $filter-button-border;
    border-right: 2px solid $filter-button-border;
    font-weight: 600;
}

.common-table thead th:last-child {
    border-right: none;
}

.common-table th,
.common-table td {
    padding: 0.75rem 0.2rem;
    font-weight: 400;
}

.rounded-table-left {
    border-top-left-radius: 0.25rem;
}

.rounded-table-right {
    border-top-right-radius: 0.25rem;
}

.table-grey, .table-grey > th, .table-grey > td {
    background-color: #e0e0e0;
    font-weight: 600;
}

.page-button {
    color: $main-text-color;
    background-color: $main-bg-color;
    border: 1px solid $filter-button-border;
    font-size: 14px;
    margin-right: 1.2rem;
}

.page-button:hover {
    background-color: $filter-button-bg-hover;
    border-color: $filter-button-border-hover;
}

.page-button:active {
    color: $main-text-color;
    background-color: $filter-button-bg-hover;
    border-color: $filter-button-border-hover;
    -webkit-box-shadow: 0 0 0 0.2rem $filter-button-box-shadow;
    box-shadow: 0 0 0 0.2rem $filter-button-box-shadow;
}

.directory-buttons {
    font-weight: 700;
    text-transform: uppercase;
}

.directory-button {
    margin-right: 1.2rem;
    color: $main-text-color;
    text-decoration: none;
}

.directory-button.active,
.directory-button.active:hover {
    color: $directory-button-active;
}

.directory-button:hover {
    text-decoration: none;
    color: $directory-button-hover;
}

.directory-button:active {
    color: $directory-button-click;
}

.select-item {
    font-size: 14px;
    width: 47%;
    cursor: pointer;
    color: $main-text-color;
}

.select-item:first-child,
.finance-filter .select-item {
    margin-right: 1.2rem;
}

.balance-info-wrapper {
    width: 212px;
}

.balance-info-button {
    width: 100%;
    margin-right: 0;
}

.balance-actions {
    background-color: $main-bg-color;
}

.balance-action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.balance-action-button {
    width: 30%;
}

@media (max-width: 454px) {
    .balance-action-button {
        width: 60%;
        margin: 0 auto 0.75rem auto;
    }

    .balance-action-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
}

.cancel-button {
    background-color: $cancel-button-bg;
    color: $cancel-button-text;
}

.cancel-button:hover {
    background-color: $cancel-button-bg-hover;
    color: $cancel-button-text;
}

.cancel-button:active {
    background-color: $cancel-button-bg-active;
}

.modal-action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modal-action-button {
    width: 45%;
}

.settings-select-item {
    font-size: 14px;
}

.function-button {
  color: $main-text-color;
}

.function-button:hover {
    color: $function-button-hover;
}

.function-button:active {
    color: $function-button-active;
}
