.dashboard-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 0.7rem;
}

.company-dashboard {
    width: 1090px;
    height: 400px;
}

.dashboard-checkbox-wrapper {
    width: 214px;
}
