.finance-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
}

.finance-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter-select-wrapper {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.income-expense-wrapper {
    margin-right: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.finance-info-col {
    width: 25%;
}

.finance-operation-col,
.finance-history-col,
.finance-time-col,
.finance-sum-col {
    width: 15%;
}

.bill-actions {
    background-color: $main-bg-color;
}

.finance-balance-alert {
    margin-bottom: 0.5rem;
}

.balance-alert-wrapper {
    display: none;
}

.finance-client-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
}

.paid-bill-button {
    margin-right: 0.5rem;
    width: 54%;
}

.finance-sum-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm-buttons {
    display: flex;
    flex-direction: column;
}

.confirm-button {
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 376px) {
    .confirm-buttons {
        flex-direction: row;
        justify-content: space-between;
    }

    .confirm-button {
        width: 30%;
    }
}
