.lidogenerstors-search-form {
    width: 15%;
}

.lidogenerators-date-range {
    padding: 7px 12px;
    width: auto;
}

.lidogenerators-update-button {
    bottom: 0;
    right: 290px;
    z-index: 3000;
}
