@font-face {
    font-family: "MalgunGothicRegular";
    src: url("/fonts/Malgun-Gothic29381.woff2") format("woff2"),
    url("/fonts/Malgun-Gothic29381.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "MalgunGothicRegular", "Helvetica", sans-serif;
}

html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.header {
    height: 5%;
}

.footer {
    height: 3%;
}

.title {
    font-size: 2.2rem;
}

.fa-lock {
    width: 16px;
    height: 16px;
}

@media (min-width: 576px) {
    .main-login {
        width: 60%;
    }

    .reset-form {
        width: 60%;
    }
}

@media (min-width: 920px) {
    .main-login {
        width: 40%;
    }

    .reset-form {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .main-login {
        width: 30%;
    }

    .reset-form {
        width: 40%;
    }
}

.form-items {
    font-size: 0.9rem;
}

@media (min-width: 345px) {
    .form-items {
        font-size: 1rem;
    }
}

.reset-title {
    font-size: 1.9rem;
}

.button-loginreturn {
    background-color: #95999c;
    color: #ffffff;
}

.button-loginreturn:hover {
    color: #ffffff;
    background-color: #6c757d;
}

.button-loginreturn:active {
    background-color: #5a6268;
}
