.crm-main {
    position: relative;
}

.crm-button {
    position: absolute;
    bottom: 20px;
    left: 0;
    top: 0;
    -webkit-transform: translateY(170%);
    transform: translateY(170%);
    background-color: $crm-toast-bg;
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.4);
    min-width: 200px;
    max-width: 450px;
    height: 210px;
    overflow: auto;
    display: none;
    padding-bottom: 50px;
}

@media (max-width: 693px) {
    .crm-button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
        background-color: $crm-toast-bg;
        min-width: 200px;
        max-width: 250px;
        height: 210px;
        overflow: auto;
        display: none;
        padding-bottom: 50px;
    }
}

.order-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
}

.order-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.moderation-circle {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin-right: 5px;
    background-color: $main-bg-color;
    border: 1px solid $moderation-circle-border;
    display: inline-block;
    cursor: pointer;
    padding: 0;
}

.moderation-circle:last-child {
    margin-right: 0;
}

.circle-green {
    background-color: $moderation-circle-green;
}

.circle-yellow {
    background-color: $moderation-circle-yellow;
}

.circle-red {
    background-color: $moderation-circle-red;
}

.crm-table td:first-child,
.crm-table th:first-child,
.time-col {
    width: 6%;
}

.info-col {
    width: 25%;
}

.title-col,
.client-col,
.comment-col {
    width: 10%;
}

.phone-col,
.status-col {
    width: 8%;
}

.order-line .non-target-status,
.reset-order .non-target-status {
    color: $non-target-status;
}

.order-line .target-status,
.reset-order .target-status {
    color: $crm-table-target-status;
}

.moderation-col {
    width: 9%;
}

.buttons-col {
    width: 4%;
}

.crm-correct-button {
    padding: 0;
    margin-left: 0.5rem;
}

.crm-table .restore-button,
.crm-table .reset-button {
    margin-left: auto;
    margin-right: auto;
}

.crm-table .restore-button-show,
.crm-table .reset-button-show {
    display: block;
}

.crm-table .restore-button-hide,
.crm-table .reset-button-hide {
    display: none;
}

.crm-table .reset-order td {
    background-color: $crm-table-deleted-order-bg;
}

.orders-count-wrapper {
    width: 13%;
    margin-right: auto;
    margin-left: -1.2rem;
}

.inappropriate-orders-count,
.targeted-orders-count {
    padding: 8px;
    width: 44%;
    cursor: pointer;
}
