.orders-source-select {
    font-size: 14px;
    cursor: pointer;
}

.source-id-col {
    width: 10%;
}

.source-buttons-col {
    width: 7%;
}

.name-col,
.source-col,
.order-cost-col {
    width: 12%;
}

.request-col {
    width: 11%;
}

.copy-form-input,
.copy-button {
    font-size: 14px;
}

.modal-text {
    margin-bottom: 0;
    font-size: 16px;
}
