$main-text-color: rgb(33, 37, 41);
$main-bg-color: rgb(255, 255, 255);
$button-login-return-text: rgb(255, 255, 255);
$button-login-return-bg: rgb(149, 153, 156);
$button-login-return-bg-hover: rgb(108, 117, 125);
$button-login-return-bg-active: rgb(90, 98, 104);
$header-icon-color: rgb(255, 255, 255);
$header-bg: rgb(29, 29, 29);
$sidenav-button-active: rgb(255, 149, 23);
$sidenav-button-disabled: rgba(0, 0, 0, 0.3);
$filter-button-border: rgb(206, 212, 218);
$filter-button-bg: rgb(248, 249, 250);
$filter-button-bg: rgb(248, 249, 250);
$filter-button-bg-hover: rgb(226, 230, 234);
$filter-button-border-hover: rgb(218, 224, 229);
$filter-button-box-shadow: rgba(216, 217, 219, 0.5);
$toast-bg: rgb(238, 238, 238);
$table-icon-active: rgb(255, 149, 23);
$table-icon: rgb(149, 153, 156);
$table-head-border: rgb(179, 183, 187);
$table-hover: rgb(211, 211, 211);
$table-sum-line-bg: rgb(251, 251, 251);
$directory-button-active: rgb(255, 149, 23);
$directory-button-hover: rgb(149, 153, 156);
$directory-button-click: rgb(90, 98, 104);
$moderation-circle-border: rgb(128, 128, 128);
$moderation-circle-green: rgb(0, 128, 0);
$moderation-circle-yellow: rgb(255, 255, 0);
$moderation-circle-red: rgb(255, 0, 0);
$crm-table-button-hover: rgb(149, 153, 156);
$crm-table-button-active: rgb(90, 98, 104);

